<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="language-en" class="nav-item">
                        <a class="nav-link" href="#" onclick="changeLanguage('en')">EN</a>
                    </li>
                    <li id="language-vi" class="nav-item">
                        <a class="nav-link" href="#" onclick="changeLanguage('vi')">VI</a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        // https://www.w3schools.com/js/js_cookies.asp
        function getCookie(cname) {
            var name = cname + "=";
            console.log(document.cookie);
            
            //var decodedCookie = decodeURIComponent(document.cookie);
            //return decodedCookie.substring(decodedCookie.length, name.length);

            var cookieLaguage = document.cookie;
            return decodedCookie.substring(cookieLaguage.length, name.length);

            //console.log(decodedCookie);
            //var ca = decodedCookie.split(';');
            //for (var i = 0; i < ca.length; i++) {
            //    var c = ca[i];
                //while (c.charAt(0) == ' ') {
                //    c = c.substring(1);
                //}
            //    console.log(c.indexOf(name));
            //    if (c.indexOf(name) == 0) {
            //        return c.substring(name.length, c.length);
            //    }
            //}
            //return "";
        }


        function changeLanguage(lang) {
            javascript: document.cookie = 'language=' + lang;
            location.reload();
        }

        var language = getCookie('language');
        if (language === 'en') {
            document.getElementById('language-en').className = 'nav-item active';
        } else {
            document.getElementById('language-vi').className = 'nav-item active';
        }
    </script>
</body>
</html>
